@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f5f3ff;
  --color-primary-100: #ede9fe;
  --color-primary-200: #ddd6fe;
  --color-primary-300: #c4b5fd;
  --color-primary-400: #a78bfa;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;
  --color-primary-700: #6d28d9;
  --color-primary-800: #5b21b6;
  --color-primary-900: #4c1d95;
  --color-primary-950: #2e1065;
  --font-poppins: 'Poppins', sans-serif;
  --animate-slide-in: slide-in 300ms ease-out;

  @keyframes slide-in {
    from {
      transform: translateX(-100%)
    }

    to {
      transform: translateX(0)
    }
  }

}





@layer base {
  body {
    @apply font-poppins text-gray-700 bg-slate-50 dark:bg-slate-950 dark:text-slate-200 transition-colors duration-300;
  }

  span,
  a {
    @apply inline-block;
  }

  button,
  a {
    @apply cursor-pointer
  }


}



@utility container {
  @apply mx-auto px-4 sm:px-4 lg:px-6;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg bg-gray-200 text-gray-600 font-semibold hover:bg-gray-300 transition-colors duration-300
  }

  .form-control {
    @apply px-3 py-2.5 rounded-full border border-gray-400/50 bg-white text-slate-800 dark:bg-slate-800 dark:border-slate-700 dark:text-slate-100 focus:outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-500/20 transition-all duration-300
  }
}


.swiper-button-prev,
.swiper-button-next {
  @apply !size-12 bg-gray-200 rounded-full !text-primary-600 after:!text-sm after:!font-bold text-sm hover:scale-105 hover:text-primary-800 transition-all duration-200 hover:bg-gray-300;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 12px !important;
}

.swiper-pagination-bullet-active {
  @apply !w-4 !bg-white !rounded-full;
}

/* React Toastify Overrides */
:root {
  --toastify-color-success: var(--color-primary-500);
  --toastify-icon-color-success: var(--color-primary-500);
  --toastify-color-progress-success: var(--color-primary-500);
}